@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600,700,300italic,400italic,600italic,900,200');


body {
  background-color:black;
  margin: 0;
  color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 100;
}
#top
{
    background-image:url("");
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    background-attachment: fixed;
}
#h_header
{
    padding-top: 3%;
    width: 100%;
}
#nav_logo
{
    min-width:30%;
    max-width: 60%;
    margin-left:20px;
}
#nav_but
{
    background-color: transparent;
    border-width: 1px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 12px;
    padding-right: 12px;
    border-style: solid;
    border-radius: 30px;
    border-color: #45EDF2;
    color: white;
    margin-left:20px;
    margin-right: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 100;
    cursor: pointer;
    max-width:60%;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0%;
    overflow: hidden;
    background-color: transparent;
  }
#home
{
  background-image:url("bg5out.gif");
    background-repeat: no-repeat;
    background-position:center;
    width:100%;
    background-size: cover;
}
#home2
{background-image:url("home_bg.png");
  background-repeat: no-repeat;
  background-position:bottom;
  width:100%;
  background-size: cover;
  height:100%;
}
#h_intro
{
  width:90%;
  padding-top: 10%;
  text-align: center;
  font-size: small;
  font-weight: normal;
}
#h_td1
{font-weight: lighter;}
#h_td2
{font-size: large;}
#h_p1
{
  text-align: center;
  margin-bottom: 10%;
}
#h_p2
{
  text-align: center;
  font-style: italic;
  font-weight: normal;
}
#h_p3
{
  text-align: center;
  font-size: smaller;
  margin-bottom: 10%;
}
#h_p4
{
  text-align: center;
  padding-bottom: 8%;
}
#t1
{
  z-index: -1;
  max-width: 20%;
  min-width: 20%;
  padding-left: 22%;
  margin-top: -5%;
}
#t2
{
  z-index: -1;
  max-width: 25%;
  min-width: 25%;
  padding-left: 5%;
  margin-bottom: -1%;
}
#t3
{
  z-index: -1;
  max-width: 20%;
  min-width: 20%;
  padding-left: 16%;
  margin-bottom:-5%
}
#t4
{
  z-index: -1;
  max-width: 20%;
  min-width: 20%;
  padding-left: 15%;
  margin-bottom: -10%;
}
#t1:hover
{
  max-width: 22%;
}
#t4:hover
{
  max-width: 22%;
}
#last
{
  position: relative;
  padding-top:15%;
  margin-bottom: 0%;
  padding-bottom: 0%;
}
#t_p1{
text-align: center;
margin-top: 0%;
}
#t_p2
{
  text-align: center;
  margin-top:-5px ;
  padding-bottom: 5%;
}
#about
{
  padding-top: 80%;
  background-image:url("aboutbg.png");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: bottom;
  background-size:cover;
  background-attachment:local;
  width: 100%;
}
#tv
{
  z-index: -1;
  max-width: 20%;
  margin-left: 40%;
}
#s_logos
{
  width: 30%;
  margin-left: 35%;
  margin-right: 35%;
  margin-top: 10px;
  text-align: center;
  font-size: small;
}
#eid
{
  text-align: center;
  margin-top:5% ;
  color: #45EDF2;
  font-size:small ;
  font-weight: 400;
  letter-spacing: 1px;
}
#mainevents
{
  height:1200px;
}
#event
{
  background-image: url("mid_bg.png");
  background-repeat: no-repeat;
    background-position:center;
    width:100%;
    height: fit-content;
    background-size: cover;
    text-align: center;
    padding-top: 5%;
}
#p_heading
{
  margin-top: 30px;
  text-align: center;
  font-weight: bold;
  font-size: medium;
  letter-spacing: 2px;
}
#p_description
{
  text-align: center;
  font-size: xx-small;
  margin-top: 5px;
}
#p_gallery
{
  padding: 2%;
  text-align: center;
  width: 100%;
  border-spacing: 10px;
}
#p_g
{
  text-align: center;
  border-width: 1px;
  border-style: solid;
  border-color: aliceblue;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}
#p_td1
{
  text-align: left;
  font-size:larger;
  font-weight: 400;
  color: #45EDF2;
  letter-spacing: 3px;
  border-top: 1px solid rgb(255, 255, 255);
  padding-top: 3px;
  padding-left: 3%;
}
#p_td2
{
  text-align: left;
  font-size:smaller;
  letter-spacing: 1px;
  padding-left:3%;
}
#p_td3
{
  padding: 0%;
  width: 100%;
}
#f_p1
{
  margin-top: 30px;
  text-align: center;
  font-weight: bold;
  letter-spacing: 2px;
}
#f_p2
{
  text-align: center;
  font-size: xx-small;
  margin-top: -10px;
}
#f_faq
{
  text-align:center;
}
#r_form
{
  background-image: url("bg6stars2.gif");
  height: 600px;
  background-repeat: no-repeat;
    background-position:center;
    width:100%;
    background-size: cover;
    text-align: center;
}
#r_p
{
  text-align: center;
  font-size:x-large;
  font-weight:900;
  letter-spacing: 10px;
  color: #45EDF2;
}
#f_nav_table
{
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 15px;
  text-align: center;
  font-size: smaller;
}
#f_social
{
  background-color: #1E1E1E;
  text-align: center;
  margin: 0px;
  padding:15px;
}
#f_table
{
  text-align: center;
  width: 100%;
  font-size: smaller;
}
#f_td
{
  text-align: center;
  width:45%;
  padding-left: 2%;
  padding-right: 2%;
}

#f_credits
{
  margin-top: -1%;
  width:100%;
  text-align: center;
  font-size:smaller;
}
#p_credits
{
  padding:5px;
}

hr
{
  border-color: #45EDF2;
  border-radius: 20%;
  border-width: 1px;
}
#i_logo
{
  width:15px;
}

.floating { 
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}

@keyframes floating {
  0% { transform: translate(0,  0px); }
  50%  { transform: translate(0, 15px); }
  100%   { transform: translate(0, -0px); }   
}