@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600,700,300italic,400italic,600italic,900,200');


body {
  background-color:black;
  margin: 0;
  color: white;
  background-image:url("bg5out.gif");
    background-repeat: no-repeat;
    background-position:center;
    background-size:cover;
    background-attachment:fixed;
}
#top
{
    background-image:url("");
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    background-attachment: fixed;
}
#nav_bar
{
    margin-top: 30px;
}
#nav_logo
{
    width: 230px;
    margin-left:20px;
}
#nav_but
{
    background-color: transparent;
    border-width: 1px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 12px;
    padding-right: 12px;
    border-style: solid;
    border-radius: 30px;
    border-color: #45EDF2;
    color: white;
    margin-left:20px;
    margin-right: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 100;
    cursor: pointer;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
  }
.wrapper
{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
